
  
    /* wii shop channel scrollbar remake by ChrisplayzBLOX/YT.
    credit to https://stackoverflow.com/a/52361343 for the arrow buttons 
    and https://wiishopchannel.net for the arrow icons.
     */

::-webkit-scrollbar {
    width: 49px;
    outline:1px solid #34BEED;
  }

  ::-webkit-scrollbar-track {
    background: #c8c8c8;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(240,255,255);
    background: linear-gradient(180deg, rgba(240,255,255,1) 0%, rgba(241,255,255,1) 3%, rgba(241,255,255,1) 6%, rgba(247,255,255,1) 11%, rgba(247,255,255,1) 15%, rgba(244,255,255,1) 21%, rgba(241,254,254,1) 29%, rgba(241,254,254,1) 36%, rgba(239,255,254,1) 42%, rgba(239,255,254,1) 45%, rgba(241,254,254,1) 52%, rgba(241,254,254,1) 58%, rgba(241,255,255,1) 63%, rgba(234,255,255,1) 73%, rgba(234,255,255,1) 79%, rgba(233,255,252,1) 89%, rgba(233,255,252,1) 100%);
  }
  


  /* Buttons */
::-webkit-scrollbar-button:single-button {
  background-image: url("/wiishopscrollbar/arrows/arrowup.png");
  border:0px solid;
  display: block;
  border-style: solid;
  height: 52px;
  width:52px;
  border-color: transparent;
}

::-webkit-scrollbar-button:single-button:hover {
  background-image: url("/wiishopscrollbar/arrows/arrowup.png");
  border:0.1em solid black;
  display: block;
  border-style: solid;
  height: 52px;
  width:52px;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("/wiishopscrollbar/arrows/arrowdown.png");
  border:0px solid;
  display: block;
  border-style: solid;
  height: 52px;
  width:52px;
  border-color: transparent;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("/wiishopscrollbar/arrows/arrowdown.png");
  border:0.1em solid black;
  display: block;
  border-style: solid;
  height: 52px;
  width:52px;
}

    /* wii shop channel scrollbar remake by ChrisplayzBLOX/YT.
    credit to https://stackoverflow.com/a/52361343 for the arrow buttons 
    and https://wiishopchannel.net for the arrow icons.
     */