    /* wii shop channel scrollbar remake by ChrisplayzBLOX/YT.
    credit to https://stackoverflow.com/a/52361343 for the arrow buttons 
    and https://wiishopchannel.net for the arrow icons.
     */

     ::-webkit-scrollbar {
      width: 50px; 
    }
    
    ::-webkit-scrollbar-track {
      background: #c8c8c8;
    }
    
    ::-webkit-scrollbar-thumb {
      border-left:1px solid #34BEED;
      border-right:1px solid #34BEED;
      background: rgb(212,244,252);
background: linear-gradient(0deg, rgba(212,244,252,1) 0%, rgba(232,247,252,1) 8%, rgba(233,246,252,1) 27%, rgba(233,246,252,1) 54%, rgba(232,246,249,1) 100%);
    }

    ::-webkit-scrollbar-thumb:hover {
      border-left:1px solid #34BEED;
      border-right:1px solid #34BEED;
      background: rgb(198,238,255);
      background: linear-gradient(0deg, rgba(198,238,255,1) 0%, rgba(226,248,255,1) 8%, rgba(219,243,255,1) 27%, rgba(233,246,252,1) 54%, rgba(232,246,249,1) 100%);
    }
    
    
    
    /* Buttons */
    ::-webkit-scrollbar-button:single-button {
    background-image: url("/wiishopscrollbar/arrows/arrowup.png");
    border:0px;
    border-left:1px solid #34BEED;
    display: block;
    border-style: solid;
    height: 52px;
    width:52px;
    }
    
    ::-webkit-scrollbar-button:single-button:hover {
    display: block;
    border-style: solid;
    height: 52px;
    width:52px;
    }
    ::-webkit-scrollbar-button:single-button:active {
      border:1.3px solid black;
      background-image: url("/wiishopscrollbar/arrows/arrowup_active.png");
      }
    
    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("/wiishopscrollbar/arrows/arrowdown.png");
    border:0px;
    border-left:1px solid #34BEED;
    display: block;
    border-style: solid;
    height: 52px;
    width:52px;
    }
    
    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    display: block;
    border-style: solid;
    height: 52px;
    width:52px;
    }
    
    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment:active {
      border:1.3px solid black;
      background-image: url("/wiishopscrollbar/arrows/arrowdown_active.png");
      }
    
    
      /* wii shop channel scrollbar remake by ChrisplayzBLOX/YT.
      credit to https://stackoverflow.com/a/52361343 for the arrow buttons 
      and https://wiishopchannel.net for the arrow icons.
       */